body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-container {
    display: flex;
}
.team {
    margin: 50px;
}
.team-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.team-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
}