body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.team-container {
    display: flex;
    flex-wrap: wrap;
}
.team {
    margin: 50px;
}
.team-score {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.win {
    color : green;
    size: 50px;
}

.team-error {
    display: flex;
    justify-content: space-between;
    align-items: center;
}